<% if @ingredient.errors.any? %>
  <div class="ui error message">
    <i class="close icon"></i>
    <div class="header">
      The following errors prevented the ingredient from being saved
    </div>
    <ul>
      <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>