
<div id="home" class="ui center aligned segment">
  <div class="ui medium header" id="logo-app">
    Cooking App
  </div>
  <button class="ui massive olive button" id="home-button">
    Lets start!
  </button>
</div>

