
<div id="home" class="ui center aligned segment">
  <div class="ui medium header" id="logo-app">
    Cooking App
  </div>
  <%= link_to "Sign up!", signup_path, class: "ui massive olive button", id: "home-button" %>
</div>

