@import 'semantic-ui';
 body{
  background-color: #fff7d5;
}

#home {
  background-image: url('cooking-image.jpeg') !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 625px;
  margin-top: 20px;
}

#logo-app {
  font-size: 72px !important;
  color: white !important;
  margin-top: 70px !important;
  font-weight: normal !important;
  text-shadow: black 0.1em 0.1em 0.2em !important;
}

.footer {
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 50px !important;
}

.footer a {
  text-decoration: none !important;
  color: white !important;
}

#home-button {
  color: white;
  margin-top: 150px;
}
h1{
  margin-bottom: 20px ;
}
.card {
  box-shadow: 13px 14px 18px -19px rgba(12, 16, 32, 1)!important;
  margin-bottom: 40px !important;
  width: 600px !important;

}
#form {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  box-shadow: 13px 14px 18px -19px rgba(12, 16, 32, 1)!important;
  background-color: #acd9ff;


}
.message {
  box-shadow: 13px 14px 18px -19px rgba(12, 16, 32, 1)!important;
  margin-left: auto;
  margin-right: auto;
}

#button {
  text-align: center;
  margin-top: 40px;
}
#back {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*pagination styling */

.flickr_pagination {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  padding: 0.3em;
  cursor: default; }
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
  border-radius: 5px }
.flickr_pagination .disabled {
  color: #aaaaaa; }
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: darkseagreen; }
.flickr_pagination a {
  border: 1px solid #acd9ff;
  color: #acd9ff;
  text-decoration: none; }
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: darkseagreen;
  background: #fff7d5;
  color: darkseagreen; }
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em; }
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px; }
.flickr_pagination .previous_page {
  margin-right: 1em; }
.flickr_pagination .next_page {
  margin-left: 1em; }

#recipe{
  text-align: left;
}