<div class="ui center aligned container">
  <h1>Editing Image</h1>
</div>
<div class="image_wrapper">

  <div class="image_tag">
    <%= image_tag (@image.picture.url) if @image.picture? %>
  </div>
</div>
<%= render 'form', image: @image %>
<div class="ui center aligned container">
  <%= link_to 'Show', @image %> |
  <%= link_to 'Back', images_path %>
</div>