<div class="ui center aligned container">
  <p id="notice"><%= notice %></p>
  <div class="image_wrapper">
    <div class="image_tag">
      <%= image_tag (@image.picture.url) if @image.picture? %>
    </div>
  </div>


  <%= link_to 'Edit', edit_image_path(@image) %> |
  <%= link_to 'Back', images_path %>
</div>