<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <a>Copyright &copy; <%= link_to "Paulina Szarek", "https://www.linkedin.com/in/paulina-szarek-a34584208/" %></a>
  </div>
</div>